body {
	background-color: #E0F0E0;
}

h1 {
	text-align: center;
	font-family: sans-serif;
}

#qr {
	width: min(95vw, 95vh);
	margin: auto;
}

#webrtc {
	display: flex;
	flex-direction: column;
}

#scan {
	width: min(95vw, 95vh);
	margin: auto;

}

#qr>svg {
	width: 100%;
	height: auto;
}

#game {
	width: 100%;
	height: 100%;
}

html, body {
	height: 100%;
	width: 100%;
}
