:root {
	--card-height: 19vh;
	--card-ratio: 0.7168142914;
}

#win {
	font-size: 5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background-color: white;
	border-radius: 5%;
}

#game {
	display: flex;
	align-items: center;
	flex-flow: column;
}

#choices {
	display: flex;
	justify-content: center;
	flex-flow: row;
	margin: 2vh;
}

#player {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.group {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: start;

	max-width: calc(5 * (var(--card-height) * var(--card-ratio) + 1vw));
	width: 100vw;
	
	background: green;
	margin: 0.5vh;
	padding: 0.5vh;
}

.filler {
	height: var(--card-height);
	margin-top: 0.5vw;
	margin-bottom: 0.5vw;
}


img.card {
	height: var(--card-height);
	margin: 0.5vw;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

img.card.selected-card {
	transform: TranslateY(-5%);
}

@media (max-aspect-ratio: 1/1) {
	:root {
		--card-height: calc(15vw / var(--card-ratio));
	}

	body {
		background-color: black;
	}
}
