body {
	background-color: #E0F0E0;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
	width: 100%;
}

h1 {
	text-align: center;
	font-family: sans-serif;
}

#number-container {

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 2fr 1fr;
	grid-template-areas: 
		"left number right"
		"btn btn btn";

	gap: 1vh 0;

	align-items: center;
	justify-items: center;

	width: min(90vw, 90vh);
	height: min(90vw, 90vh);
}

#number-container>* {
	font-family: sans-serif;
	/* line-height: 17vw; */
	user-select: none;
}

#left-chevron {
	grid-area: left;
	width: 100%;
	height: 100%;
}

#right-chevron {
	grid-area: right;
	width: 100%;
	height: 100%;
}

#number {
	grid-area: number;
	text-align: center;
	font-size: min(30vw, 30vh);
}

#number-button {
	grid-area: btn;
	width: 100%;
	height: 100%;

	align-self: self-start;
	border: none;
	border-radius: 10px;
	background-color: #197BBD;
	color: #E0F0E0;

	padding: 0;
	font-size: min(15vw, 15vh);
}

#webrtc {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#container {
	flex-grow: 1;
	overflow-y: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;

}

#qr {
	width: min(50%, calc(90vh - 70px));

	display: flex;
	justify-content: center;
	align-items: center;

	aspect-ratio: 1 / 1;
}

#qr>svg {
	width: 90%;
	height: auto;
	border-radius: 20px;
}

#scan {
	width: 45%;
}


#game {
	width: 100vw;
	height: 100%;
}

@media (min-height: 100vw) {
	#container {
		flex-direction: column;
	}

	#qr {
		height: 50%;
		width: auto;
	}

	#scan {
		height: 50%;
		width: auto;
	}
}
