#webrtc {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#container {
	flex-grow: 1;
	overflow-y: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;

}

#qr {
	width: 50%;
}

#scan {
	width: 50vw;
}

#qr>svg {
	width: 100%;
	height: auto;
}

#game {
	width: 100vw;
	height: 100%;
}


@media (max-aspect-ratio: 1/1) {
	#container {
		flex-direction: column;
	}

	#qr {
		width: 40vh;
	}

	#scan {
		height: 50%;
		width: auto;
	}
}
