#qr {
	width: min(95vw, 95vh);
	margin: auto;
}

#scan {
	width: min(95vw, 95vh);
	margin: auto;
}

#qr>svg {
	width: 100%;
	height: auto;
}

#game {
	width: 100%;
	height: 100%;
}

html, body {
	height: 100%;
	width: 100%;
}
